body {
  background-color: #242424;
  font-family: 'PT Sans', sans-serif;
}

.form {
  margin: 2rem auto;
  max-width: 35rem;
}

.fieldset {
  padding: 2rem 4rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  align-items: center;
  font-weight: 700;
  color: white;
}

.btn {
  padding: 0.5rem 1.5rem;
  border: solid 1px white;
  margin: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: 1rem;
  font-weight: 700;
}

/* .btn:hover {
  background-color: #242424;
  color: white;
} */


.input-form {
  padding: 0.2rem;
  border: 1px solid #242424;
  color: #242424;
}

.datos-img {
  width: 5rem;
  border-radius: 5px;
  margin-right: 1rem;

}

.container {
  max-width: 60rem;
  height: 100vh;
  color: white;
  padding: 2rem;
  margin: 0 auto;
}

.container-logo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.container-btn {
  width: 10rem;
  border: 1px solid;
}

.btn-atras {
  display: flex;
  justify-content: end;
}

.container-logo h2 {
  font-size: 2rem;
}

.container p {
  font-weight: 700;
}

.container span {
  font-weight: 400;
}

.consultando {
  margin: 0 auto;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consultando .btn {
  margin: 0;
}

.btn-atras .btn:hover {
  background-color: #242424;
  color: white;
  cursor: pointer;
}

.consultando .btn:hover {
  background-color: #242424;
  color: white;
  cursor: pointer;
}

/***************** SPINNER ******************/
.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px)
  }

  50% {
    -webkit-transform: perspective(120px) rotateY(180deg)
  }

  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}